* {
    box-sizing: border-box;
}

body {
    /* Підключаємо шрифт */
    font-family: 'Roboto', sans-serif;

    /* Додаємо фонову картинку */
    background-image: url(images/patt.png);
    /* Ця картинка займає увесь простір нашого екрану. Якщо потрібно тільки в якомусь місці чи тільки по якійсь осі то:
    background-repeat: no-repeat;
    background-repeat:repeat-x;
    background-position: 100px 50px;
    */
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    /* задамо внутрішній відступ щоби header збільшити */
    padding: 25px;
}

.container {
    width: 1200px;
    /* розташуємо цей контейнер по центру */
    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;
}

/* Задаємо для rov від'ємне значення margin щоб цей відступ не був 30px */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* Прописуємо скільки % ширини займають наші колонки */
.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 230px;
}

/* Напишемо правило: якщо зустрінеться class з атрибутом col- то задати float-left, padding-left і padding-right   */
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row::after,.menu::after {
    content: "";
    clear: both;
    display: block;
}

.logo {
    margin-top: 7px;
}

.menu li {
    float: left;
    /* є 4 рівні блоки тому ширина 25% */
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

/* задамо рамку для останньої колонки li справа */
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    /* Текст на макеті light 21px, тому */
    font-weight: 300;
    font-size: 21px;
}

/* псевдостан :hover відповідає за зміну фону і кольору тексту тільки при наведенні на елемент до якого він застосовується */
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.form-search {
    border: 1px solid #2c71b8;
    margin-top: 5px;
    padding: 4px;
    height: 38px;
    line-height: 24px;
    position: relative;
}

.form-search input {
    /* забираємо рамку у input */
    border: none;
    /* забираємо білий колір фону у input */
    background: transparent;
    font-family: 'Roboto', sans-serif;
    height: 21px;
    width: 160px;
    margin-top: 6px;
    font-weight: 300;
}

/* щоб забрати внутрішню рамку яка появляється коли ми клікаємо на поле введення input використовуємо псевдоелемент :focus */
.form-search input:focus {
    outline: none;
}

/* стилізуємо поле для введення тексту placeholder */
input::placeholder {
    color: #2c71b8;
    font-size: 21px;
}

.button {
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-image: url(images/search\ \(4\).png);
    background-repeat: no-repeat;
    /* задаємо місце де саме фонова картинка буде розташована (можна  значення в px зліва задати і зверху щоб була по центру: backround-position left 15px top 15px)  */
    background-position: center;
    border: none;
    margin: 4px;
    position: absolute;
    top: -1px;
    left: 161px;
}

.cart {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(images/cart\ blue\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    position: relative;
    margin-left: 230px;
    bottom: 40px;
    border: none;
}

.product-count {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.menu li > .submenu li {
    width: 286px;
    height: 40px;
    line-height: 40px;
    position: relative;
  }

.submenu {
    background-color: #2c71b8;
    position: absolute;
    left: -1px;
    padding-top: 18px;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
}

.submenu li {
    color: white;
    font-size: 21px;
    padding-left: 32px;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* при :hover на li стилізуємо потрібне <a> */
/* пропис означає: у menu вибрати li тільки першого рівня і при :hover на ці li вибрати <a> тільки першого рівня (цей <a> з текстом Products */
.menu>li:hover>a {
    background: #2c71b8;
    color: white;
}

.submenu :hover {
    background-color: white;
    color: #2c71b8;
}

.arrow-down {
    position: absolute;
    padding-top: 17px;
}

.arrow-down:hover {
    background-color: #2c71b8;
    color: white
}

        /* ЦЕНТРАЛЬНА ЧАСТИНА */
.main {
    color: white;
}
.navigation {
    height: 843px;
    padding: 0px 15px;
    background-color: rgba(255, 255, 255, 0.2);
}
.characteristics {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 33px;
}
.characteristics p {
    font-weight: 100;
    text-transform: none;
    padding-top: 29px;
}
.ram p{
    padding-top: 25px;
}
.characteristics:nth-child(2) {
    padding-top: 65px;
}
.characteristics:nth-child(3) {
    padding-top: 65px;
}

.more_options {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 100;
    padding-top: 32px;
    padding-bottom: 29px;
}
.main-button {
    width: 211px;
    height: 50px;
    background-color: #2c71b8;
    color: white;
    border: 1px solid white ;
    font-size: 21px;
    padding-top: 16px;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
}

.main-line a {
    color: white;
    display: block;
    text-decoration: none;
    float: left;
    font-size: 14px;
    font-weight: 300;
    padding: 30px 22px;
}
.main-line:nth-child(3) {
text-decoration: underline;
}
.main-line-home a {
    background-image: url(images/iconfinder_arrow_right2.png);
    background-repeat: no-repeat;
    background-position: 105px 30px;
    color: white;
}
.main-line-products a {
    background-image: url(images/iconfinder_arrow_right2.png);
    background-repeat: no-repeat;
    background-position: 85px 30px;
    color: white;
}
.main-title {
font-size: 48px;
font-weight: bold;
padding-top: 38px;
padding-left: 0px;
}

.main-col-md-9 {
    width: 75%;
}
.devise {
height: 652px;
width: 270px;
border: 1px solid white;
margin: 15px;
}
.main-image {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    width: 270px;
    padding-left: 1px;
}